{% extends "base.html" %}

{% block title %}
<script>
    // JavaScript to limit the number of selections
    document.addEventListener('DOMContentLoaded', function () {
        let select = document.getElementById('flair');
        select.addEventListener('change', function () {
            let selectedOptions = [...this.options].filter(option => option.selected);
            if (selectedOptions.length > 3) {
                selectedOptions[0].selected = false;
            }
        });
    });
    </script>
Create Event
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Create an Event</h2>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}  <!-- Include the CSRF token -->
        
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {{ form.title.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="invalid-feedback">
                    {{ form.description.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.eventTime.label }}
            {{ form.eventTime(class="datepicker") }}
            {% if form.eventTime.errors %}
                <div class="invalid-feedback">
                    {{ form.eventTime.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.location.label }}
            {{ form.location }}
            {% if form.location.errors %}
                <div class="invalid-feedback">
                    {{ form.location.errors[0] }}
                </div>
            {% endif %}
        </div>
        <label for="flair">Flairs</label>
        <div class="form-group" style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
            
            {% for id, name in form.flair.choices %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="flair" value="{{ id }}" id="flair{{ id }}">
                <label class="form-check-label" for="flair{{ id }}">{{ name }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
