{% extends "base.html" %}

{% block title %}

Edit Profile
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2>Edit Profilet</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.bio.label(class="form-label") }}
            {{ form.bio(class="form-control") }}
            {% for error in form.bio.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-warning") }}
        </div>
    
    </form>
</div>

{% endblock %}











<!--
        <div class="mb-3">
            {{ form.changeUsername.label(class="form-label") }}
            {{ form.changeUsername(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        -->